!!!
%html
  %head
    %title Raad's Forum
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
    %style @import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
    
  %body
    %header.main_header
      #logo
        %p Raad's Forum
      #button= link_to "New Post", new_post_path
      
    .container
    %p.notice= notice
    %p.alert= alert
    .container
  
      =yield
    
  
    










